/* ----------------------------
    variables:
------------------------------*/

/* colors: */
$black: #0b0c10;
$dark: #1f2833;
$gray: #c5c6c7;
$blue-light: #66fcf1;
$green-dark: #45a29e;
$red: #950740;
$orange: #ff652f;
$yellow: #ffe400;


/* fonts: */
$font-default: 'Open Sans', sans-serif;

/* margin: */
$l-margin: 60px;
$m-margin: 40px;
$s-margin: 20px;


/* padding: */
$l-padding: 60px;
$m-padding: 40px;
$s-padding: 20px;